@import "compass/css3";
@import 'compass/css3/filter';
@import "compass/css3/user-interface";

$break-small: 767px;
$break-medium: 940px;
$break-large: 1290px;
$transition: cubic-bezier(0.75, 0, 0.175, 1);
$color1: #222; // black

.cf {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}
	&:after {
	    clear: both;
	}
}
/* Sidr */
#sidr-main {
	display: none;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;
	padding: 0;
	left: -300px;
	width: 300px;
	background: #2a2a2a;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	@include translateZ(0);
	#sidr-close {
		display: block;
		float:left;
		width: 100%;
		height: 40px;
		line-height: 40px;
		text-align: center;
		border-bottom: 1px solid #353639;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		color: #7A7A7A;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
}

/* Mobile Menu */
.mobile-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	clear: left;
	li {
		
		span {
			display: block;
			position: absolute;
			width: 21px;
			height: 21px;
			text-align: center;
			line-height: 21px;
			font-size: 21px;
			left: 20px;
			top: 20px;
			color: rgba(255,255,255,0.2);
		}
		a {
			display: block;
			line-height: 60px;
			font-size: 14px;
			font-weight: 600;
			color: #a9a9a9;
			padding-left: 60px;
			border-bottom: 1px solid #353639;
			position: relative;
			@include single-transition(all, 0.1s, ease-in-out);
			&.active {
				color: #fff;
				background: $color2;
				border-color: $color2;
				span {
					color: #fff;
				}
			}
			
		}
	}
	
	.sub-menu {
		display: none;
		list-style: none;
		margin: 0;
		padding: 15px 0;
		border-bottom: 1px solid #353639;
		li {
			a {
				font-size: 13px;
				font-weight: 500;
				line-height: 30px;
				border: 0;
				&:hover {
					color: #fff;	
				}
			}
		}
	}
}
/* Mobile Menu - Style 2 */
#mobile-full {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(22,23,25,0.95);
	left: 0;
	z-index: 99;
	top: -100%;
	@include single-transition(all, 0.2s, ease-in-out);
	
	&.open {
		top: 0;
	}
	&>div {
		display: table;
		width: 100%;
		height: 100%;
		position: relative;
		
		.close {
			position: absolute;
			top: 20px;
			right: 20px;
			line-height: 20px;
			vertical-align: middle;
			font-size: 20px;
			color: #fff;
			
			.admin-bar & {
				top: 60px;
			}
		}
		ul {
			display: table-cell;
			vertical-align: middle;	
			text-align: center;
			list-style: none;
			a {
				display: inline-block;
				margin-bottom: 5px;
				font-size: 28px;
				color: #a9a9a9;
				font-weight: 700;
				
				@extend .raleway;
				border-bottom: 1px solid transparent;
				&:hover {
					color: #fff;
					border-bottom: 1px solid $color2;
				}	
			}
		}
	}
}
/* Mobile Menu Toggle */
.mobile-toggle {
	display: inline-block;
	font-size: 32px;
	vertical-align: middle;
	padding: 11px 0 0 0;
}